body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    box-sizing: border-box;
}

input, .btns-container {
    width: 90%;
}

.link-input {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #8E05C2;
    line-height: 21px;
}

input:focus {
    outline: 1.5px solid #8E05C2;
}

.link-input, button {
    border-radius: 3px;
}

.btns-container {
    margin-top: 8px;
    display: flex;
}

.btns-container button  {
    font-weight: bold;
    border: 1px solid #8E05C2;
    padding: 5px 10px;
}

.btn-primary {
    color: #FFF;
    background-color: #8E05C2; margin-right: 10px;
    flex-grow: 2;
}

.btn-secondary {
    color: #8E05C2;
    background-color: #FFF;
    
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin-top: 5px;
}

a {
    color: #8E05C2;
}